body {
    background: url(../images/body-bg.png);
    color: #838383;
    font: 13px/1.7em 'Open Sans';
    padding: 0;
}

.padding_null {
    padding: 0px;
}

.margin_null {
    margin: 0px;
}

.logo img {
    width: 55%;
}

.page_content {
    padding-top: 3%;
}

.nav > li > a {
    font-size: 16px;
}

.sidebar ul li a.active {
    background-color: #337ab7;
    color: #fff;
}

.event_order_tabs > li > a {
    color: #fff;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .event_order_tabs > li > a {
        font-size: 11px;
    }
    .navbar-top-links .dropdown-alerts {
        margin-left: -190px;
    }
}
