.navbar-brand > img {
	width: 45%;
}
.field {
	padding-bottom: 2%;
}
#view1 {
	height: 1100px;
}
/*#view2 {
	height: 960px;
}
#view3 {
	height: 290px;
}*/
/*#view4 {
	height: 635px;
}*/
#links {
	padding-bottom: 4%;
}
#links > a > img {
	border: 2px solid #000;
	padding: 1%;
}
.modal-header {
	background-color: #f5f5f5;
}
.panel-body > .img-container > img {
	height: 300px;
}
/*.bread {
	position: relative;
	margin-top: 4em;
	padding-top: 2em;
}*/
.page-header {
	margin: 7% 0 20px !important;
	padding-bottom: 1%;
}
/*.img_gallery {
	border: 2px solid #000;
}
.final_view {
	border: 2px solid #000;
}*/