.dashboard {
    position: relative;
    margin-top: 3%;
} 
.logo {
	width: 55%;
}
@media screen and (min-width: 640px) { 
   
}
@media screen and (min-width: 360px) {
	.dashboard {
	    position: relative;
	    margin-top: 5.5em;
	}	
}