.navbar-brand > img {
	width: 45%;
}
.welcome {
   position: relative;
   top: 1.3em;
}
.page-header {
	margin: 80px 0 20px;
}
@media screen and (min-width: 640px) { 
   nav > ul {
   		margin-left: 13em !important;
   }
}
@media screen and (min-width: 360px) {
   nav > ul {
   		margin-left: 4.3em;
   }
   /*.page-header {
		margin: 105px 0 20px;
	}*/
}