.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
    height: 190px;
}

.buy_button {
    padding: 3% 0; 
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.text-muted {
    color: #777;
    position: absolute;
    right: 5%;
}
.ticket_qty {
    padding-top: 3%;
    font-size: 13px;
}
.proceed_btn{
    margin-top: 10%;
}
