body {
    background: url(../images/body-bg.png);
    color: #838383;
    font: 13px/1.7em 'Open Sans';
    padding: 0;
}

.account-container {
    width: 30%;
    display: block;
    margin: 60px auto 5% auto;
    background: #f9f9f9;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
}

.content {
    padding: 16px 28px 23px;
}

.login-fields .field {
    margin-bottom: 1.25em;
}

.login-fields label {
    display: none;
}

.login-fields input {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #8e8d8d;
    padding: 11px 15px 10px 50px;
    background-color: #fdfdfd;
    display: block;
    margin: 0;
    box-shadow: inset 2px 2px 4px #f1f1f1;
}

.username-field {
    background: url(../images/user.png) no-repeat;
}

.password-field {
    background: url(../images/password.png) no-repeat;
}

.login-actions {
    float: left;
    width: 100%;
    margin-top: 2%;
}

.login-extra {
    display: block;
    width: 100%;
    margin: 1.5em auto;
    text-shadow: 1px 1px 0px #fff;
    margin-top: 5%;
}

.account-container h2 {
    margin-bottom: 10%;
    color: #525252;
    text-align: center;
}

.login_header {
    width: 100%;
    height: 80px;
    background: #025E7D none repeat scroll 0 0;
    padding: 3% 0;
}

.login_header img {
    width: 25%;
}

.signup-fields label {
    display: block;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.group_select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 88%;
}

.add_grop_btn {
    width: 11%;
    float: right;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .account-container {
        width: 80%;
    }
    .login_header img {
        width: 25%;
    }
}
