.order_details_main {
    margin-top: 2%;
}

.booking_panel .panel-title {
    font-size: 20px;
}

.table > thead > tr > th {
    font-size: 18px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > thead > tr > td {
    font-size: 22px;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > thead > tr > td {
        font-size: 16px;
    }
    .table > thead > tr > th{
    	font-size: 13px;
    }
}
