.setting_fields{
	margin-top: 5%;
}
.setting_fields .form-group{
	display: table;
    height: 10%;
    width: 100%;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 100%;
}
.setting_btn button{
	margin: 3% 2%;
	width: 15%; 
}
.tab-pane h3{
	margin-top: 5%;
}