body {
    overflow-x: hidden;
}

.header {
	margin: 0;
    padding: 0;
    width: 100%;
}

.headerContent {
	/*background: transparent none repeat scroll 0 0;*/
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    background: #002031 none repeat scroll 0 0;
}

.header .logo-wrap {
	background: rgba(0, 0, 0, 0) url("/Assets/images/bg-header.jpg") no-repeat scroll 0 0;
    height: 148px;
    overflow: hidden;
    margin: 0 auto;
}

.logo-wrap {
	display: block !important;
    margin: 0 auto !important;
    width: 1012px;
}

.site-header {
	display: block;
    float: left;
    line-height: 117px;
    margin: 38px 0 0;
}

.contents {
	margin: 3.5em 0 0;	
	width: 35%;	
}

.contents > a {
	font-size: 28px;
	color: #fff;
}

.contents > .glyphicon.glyphicon-log-in {
	color: #fff;
	font-size: 22px;
	margin-right: 2%;
}

.contents1 {
	left: 11em;
    position: relative;
    top: 1em;
}

.currency {
	color: #fff;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:150px;   /* Height of the footer */
   background:#003e61 none repeat scroll 0 0;
}

.footer .content {
	color: #fff;
}