﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="VNETTicketing.MasterPages.Admin" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The V Dashboard</title>

    <!-- favicon -->
    <!-- <link rel="icon" href="images/favicon_icon.png"> -->

    <!-- Bootstrap Core CSS -->

    <link href="../Assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Responsive tabs css -->
    <link href="../Assets/css/responsive-tabs.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../Assets/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../Assets/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../Assets/dist/css/super-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../Assets/bower_components/morrisjs/morris.css" rel="stylesheet">

    <link href="../Assets/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="../Assets/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../Assets/css/dashboard.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="../Assets/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../Assets/bower_components/metisMenu/dist/metisMenu.min.js"></script>



    <!-- Custom Theme JavaScript -->
    <script src="../Assets/dist/js/sb-admin-2.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <link rel="stylesheet" type="text/css" href="../Assets/css/modify-events.css">

    <!-- data tables css -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="../Assets/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Assets/css/responsive.dataTables.min.css">

    <!-- bootstrap switch css -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/bootstrap-switch.min.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../Admin/Dashboard.aspx">
                        <img src="../Assets/images/V-Logo.png" class="img-responsive"></a>
                </div>
                <!-- /.navbar-header -->
                <p class="pull-left welcome">Welcome,
                    <asp:Label ID="lbl_loggeduser" runat="server" Text=""></asp:Label></p>
                <ul class="nav navbar-top-links navbar-right">
                   <!-- <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <a href="#">
                                    <div>
                                        <strong>John Smith</strong>
                                        <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                                    </div>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <strong>John Smith</strong>
                                        <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                                    </div>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <strong>John Smith</strong>
                                        <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                                    </div>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>Read All Messages</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-messages -->
                   <!-- </li> -->
                    <!-- /.dropdown -->
                   <!-- <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i>New Comment
                                   
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i>3 New Followers
                                   
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i>Message Sent
                                   
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i>New Task
                                   
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i>Server Rebooted
                                   
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-alerts -->
                   <!-- </li> -->
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                          <!--  <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                            </li>
                            <li class="divider"></li> -->
                            <li>
                                <a href="../MasterPages/Logout.aspx"><i class="fa fa-sign-out fa-fw"></i>Logout</a>

                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="../Admin/Dashboard.aspx"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-user"></i>Manage registrars<span class="fa fa-angle-right"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="../Admin/CreateRegistrars.aspx">Create registrar <span class="fa fa-angle-right"></span></a>
                                    </li>
                                    <li>
                                        <a href="../Admin/ModifyRegistrar.aspx">Modify registrars <span class="fa fa-angle-right"></span></a>
                                    </li>
                                    <li>
                                        <a href="../Admin/DeleteRegistrar.aspx">Delete registrars <span class="fa fa-angle-right"></span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-table fa-fw"></i>Collections & Booking<span class="fa fa-angle-right"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="../Admin/Collections.aspx">Collection <span class="fa fa-angle-right"></span></a>
                                    </li>
                                    <li>
                                        <a href="../Admin/NewBooking.aspx">New Booking <span class="fa fa-angle-right"></span></a>
                                    </li>
                                    <li>
                                        <a href="../Admin/GroupBooking.aspx">Group Booking <span class="fa fa-angle-right"></span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../Admin/Transfer.aspx"><i class="fa fa-exchange fa-fw"></i>Transfer process</a>
                            </li>
                            <li>
                                <a href="DailyReport.aspx"><i class="fa fa-edit fa-fw"></i>Reports</a>
                            </li>

                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">

                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->




    </form>
</body>
</html>

